<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Suppliers</title>

<script type="text/javascript" src="../webjars/jquery/2.2.3/jquery.min.js"></script>
<script type="text/javascript" src="../webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link type="text/css" th:href="@{../webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<script type="text/javascript" th:src="@{../js/main.js}" src="../static/js/main.js" ></script>

</head>
<body>
	
	<div class="container">
	<p></p>
	<a href="/list" type="button" class="btn btn-primary" >Home</a>
	<button class="btn btn-success nBtn">New</button>
	<p></p> 
		<div class="card">
			<div class="card-block">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col" width="100px">ID</th>
							<th scope="col">Company name</th>
							<th scope="col">VAT Number</th>
							<th scope="col" class="text-center" colspan="2">Actions</th>
						</tr>
						<tr>
							<td><input class="form-control searchText" type="text" id="inputSearchId" name="id" autofocus placeholder="id"/></td>
							<td><input class="form-control searchText" type="text" id="inputSearchCompanyName" name="companyName" placeholder="company name"/></td>
							<td><input class="form-control searchText" type="text" id="inputSearchVatNumber" name="vatNumber" placeholder="VAT Number"/></td>
							<td colspan="2" class="text-center" > <input type="submit" value="Search" class="btn btn-success searchBtn"  id="searchBtn" /></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="supplier :${data.content}">
							<td><a th:href="@{/supplierDetails/(id=${supplier.id})}" class="badge badge-pill badge-primary" th:text="${supplier.id}"></a></td>
							<td th:text="${supplier.companyName}"></td>
							<td th:text="${supplier.vatNumber}"></td>
							<td width="150px" class="text-right"><a th:href="@{/findOne/(id=${supplier.id})}" class="btn btn-primary editBtn" th:value="${supplier.id}" data-toggle="saveModal">Edit</a></td> 
							<td width="150px" class="text-left"><a th:href="@{/delete/(id=${supplier.id})}" class="btn btn-danger delBtn">Delete</a></td>
						</tr>
					</tbody>
				</table>
				<hr />
				<ul class="nav nav-pills">
					<li class="nav-item" th:each="i: ${#numbers.sequence(0,data.totalPages-1)}">
						<a th:href="@{/list/(page=${i})}" th:text="${i}+1" class="nav-link"
							th:classappend="${currentPage}==${i}?'active':''"></a>
						</li>
				</ul>
				
			</div>
		</div>
		
		<!-- create and update modal -->
		<div class="myForm">
	        <form th:action="@{/save}" method="post">
				<div class="modal fade saveModal" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Update or Create</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				          <div class="form-group">
				            <label for="id" class="col-form-label">Id:</label>
				            <input type="text" class="form-control id" id="id" name="id" value="" readonly/>
				          </div>
				          <div class="form-group">
				            <label for="companyName" class="col-form-label">Company Name:</label>
				            <input type="text" class="form-control companyName" id="companyName" name="companyName" value="" required/>
				          </div>
				          <div class="form-group">
				            <label for="vatNumber" class="col-form-label">VAT Number:</label>
				            <input type="text" class="form-control vatNumber" id="vatNumber" name="vatNumber" value="" required/>
				          </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <input type="submit" class="btn btn-primary" value="save" />
				      </div>
				    </div>
				  </div>
				</div>
	        </form>
		</div>
		
		<!-- delete modal -->
		<div class="modal fade deleteModal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p class="alert alert-danger">Are you sure you want to delete id?</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <a href="" type="button" class="btn btn-danger delRef" id="delRef">Delete</a>
		      </div>
		    </div>
		  </div>
		</div>
		
	</div>
	
</body>
</html>